<div class="wrapper">
  <div class="toolbar">
    <button class="btn btn-secondary" (click)="toggleSidebar()"><i class="fas fa-bars fa-fw"></i></button>
    <button class="btn btn-primary" (click)="addNote()"><i class="fas fa-plus fa-fw"></i></button>
    <button class="btn btn-danger" (click)="deleteSelectedNote()"><i class="fas fa-trash fa-fw"></i></button>
    <input type="search" class="form-control" (input)="filterNotes(searchInput.value)" #searchInput />
  </div>
  <div class="content">
    <div class="sidebar" #sidebar>
      <div class="sidebar-wrapper">
        <ng-container *ngFor="let note of notes">
          <ng-container *ngIf="note.filter">
            <div class="note-preview" [ngClass]="{ 'selected': note === selectedNote }" (click)="selectNote(note)">
              <div class="note-title" *ngIf="note.title.length">
                {{note.title}}
              </div>
              <div class="note-title" *ngIf="!note.title.length">
                {{DEFAULT_NOTE_TITLE}}
              </div>
              <div class="note-footer">
                <div class="note-edited">
                  {{note.lastEdit | date:'h:mm aaa dd/MM/yy'}}
                </div>
                <div class="note-content" *ngIf="note.content.length">
                  {{note.content}}
                </div>
                <div class="note-content" *ngIf="!note.content.length">
                  {{DEFAULT_NOTE_CONTENT}}
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="editor">
      <textarea class="form-control" [(ngModel)]="selectedNoteContent" (input)="updateNote()" #textEditor></textarea>
    </div>
  </div>
</div>